body {
  background-color: #f7825c;
  margin: 35px 55px;
  padding: 28px 20px;
  border: white 20px double;
  border-radius: 1% 1%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.weather-app {
  background-color: aliceblue;
  margin: 20px 18px;
  padding: 25px 20px;
  margin: 0 auto;
  max-width: 700px;
  box-shadow: 10px 5px 5px gold;
}

.search-form-input {
  background-color: rgb(153, 226, 199);
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: lightcoral;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

.links {
  color: lightcoral;
}

.publisher-details {
  padding: 10px 15px;
}

.weather-app-details {
  font-size: 25px;
  font-weight: 400;
}

.weather-app-details small {
  font-size: 17px;
}
.weather-app-details strong {
  color: #f65282;
}
h1 {
  display: block;
}

h2 {
  display: block;
  font-size: 80px;
  position: fixed;
  top: -50px;
  right: 350px;
}

.temperature-icon {
  position: relative;
  top: 92px;
  font-size: 50px;
  margin-right: 95px;
}

.temperature-symbol {
  font-size: 28px;
  position: relative;
  top: -38px;
  margin-left: -10px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
.forecast-day {
  text-align: center;
  color: #0e0105;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
}
.forecast-icon {
  text-align: center;
  font-size: 22px;
}
.forecast-temperatures {
  text-align: center;
  font-size: 18px;
  color: #f55182;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.forecast-temp-one {
  padding: 0 7px;
}
