body {
  background-color: #f7825c;
  margin: 35px 55px;
  padding: 25px 20px;
  border: white 20px double;
  border-radius: 1% 1%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.weather-app {
  background-color: aliceblue;
  margin: 20px 15px;
  padding: 25px 20px;
  margin: 0 auto;
  max-width: 600px;
  box-shadow: 10px 5px 5px gold;
}

.search-form-input {
  background-color: rgb(153, 226, 199);
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: lightcoral;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

.links {
  color: lightcoral;
}
