body {
  background-color: #f7825c;
  margin: 35px 55px;
  padding: 28px 20px;
  border: white 20px double;
  border-radius: 1% 1%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.weather-app {
  background-color: aliceblue;
  margin: 20px 18px;
  padding: 25px 20px;
  margin: 0 auto;
  max-width: 700px;
  box-shadow: 10px 5px 5px gold;
}

.search-form-input {
  background-color: rgb(153, 226, 199);
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: lightcoral;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

.links {
  color: lightcoral;
}

.publisher-details {
  padding: 10px 15px;
}

.weather-app-details {
  font-size: 25px;
  font-weight: 400;
}

.weather-app-details small {
  font-size: 17px;
}
.weather-app-details strong {
  color: #f65282;
}
h1 {
  display: block;
}

h2 {
  font-size: 50px;
  position: fixed;
  top: 100px;
  right: 340px;
}
